* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: #0D2F3F;
}

html {
  font-size: 62.5%; 
  /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #ffbe76, #f0932b);
  padding: 7rem;
}

.wrapper {
  background-color: #F8F7F1;
  border-radius: 3rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
}

.nav .logo {
  width: 9rem;
} 

.nav .logo img {
  width: 100%;
}

.links li {
  display: inline-block;
}

.links li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #202020;
  padding: 1.4rem;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.links li a:hover {
  color: #286F6C;
}

.tel {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.tel .number a{
  text-decoration: none;
  font-size: 1.8rem;
  color: #202020;
  font-weight: 400;
  letter-spacing: .5px;
}

.tel .phone-icon {
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #286F6C;

}

.tel .phone-icon svg {
  width: 3rem;
  height: 3rem;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../assets/bg-banner.png") no-repeat bottom center;
  background-size: 50rem;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.banner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.top-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-headers h1 {
  font-size: 7rem;
  font-weight: 400;
  color: var(--font-primary);
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.2;
}

.top-headers h4 {
  font-size: 2rem;
  font-weight: 400;
  color: #525151;
  line-height: 1.9;
  width: 30rem;
}

.middle {
  color: #F2613D;
  font-size: 2rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exp {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.exp .number {
  font-size: 8rem;
  font-weight: 600;
  color: var(--font-primary);
}

.exp .years {
  display: inline-block;
  width: 1rem;
  text-transform: uppercase;
  line-height: 1.8;
  color: var(--font-primary);
}

.bottom .cert {
  width: 20rem;
}

.cert img {
  width: 100%;
}

.about {
  background-color: #fff;
}

.about .container {
  margin: 0 auto;
  padding: 10rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.about .services {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.services .service {
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 2rem 3rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: box-shadow .2s;
  cursor: pointer;
}

.service .icon {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8rem;
  padding: 2rem;
}

.services .info .title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: var(--font-primary);
  line-height: 1.9;
}

.services .service:hover {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.08);
}

.service .icon img {
  width: 100%;
}

.service .green {
  background-color: #286F6C;
}

.service .yellow {
  background-color: #F1C249;
}

.service .orange {
  background-color: #F26440;
}

.descriptions h2 {
  font-size: 5rem;
  color: var(--font-primary);
  line-height: 1.9;
}

.descriptions p {
  line-height: 1.9;
}

.mt-4 {
  margin-top: 2rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.stats .stat h3 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--font-primary);
  line-height: 1.3;
}